@font-face {
	font-family: "Regular-Semibold";
	src: url("../assets/fonts/Regular-Semibold.ttf");
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Regular-Semibold";
}

p,
a {
	font-size: 18px;
	font-family: "Regular-Semibold";

	@include md {
		font-size: 24px;
	}
}

a {
	color: black;
}
