@import "../../../../styles/animations";

.Background {
	width: 100%;
	height: auto;

	.animationDelay {
		& > * {
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;

			animation: dash 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
			@include animationDelay(0.5, 100);
		}
	}

	.firstPoint {
		transform-origin: 450px 485px;
		transform: scale(0);
		animation: scale 0.4s 2.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	}

	.secondPoint {
		transform-origin: 245px 30px;
		transform: scale(0);
		animation: scale 0.4s 2.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	}

	.dashLine {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dashSecondLine 0.4s 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	}

	.cube {
		opacity: 0;
		animation: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	}

	.oneZeroBlock {
		opacity: 0;
		animation: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dashSecondLine {
	to {
		stroke-dashoffset: 12.591;
		stroke-dasharray: 12.591;
	}
}

@keyframes scale {
	to {
		transform: scale(1);
	}
}

@keyframes opacity {
	to {
		opacity: 1;
	}
}
