@import '../../styles/colors';
@import '../../styles/animations';
@import '../../styles/media';

.Footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	box-shadow: 0px -10px 10px 0px white;

	@include md {
		animation: footer .4s .8s forwards cubic-bezier(.2, 0, 0, 1);
		bottom: -150px;
		box-shadow: none;
		&:hover:not(.Footer--show) {
			transform: translateY(-20px);
		}
	}

	&--show {
		transform: translateY(-100px);

		.Footer__title {
			opacity: 0;
			@include md {
				opacity: 1;
			}
		}
	}

	&--transition {
		transition: transform .2s cubic-bezier(.2, 0, 0, 1);
	}

	&__title {
		opacity: 1;
		text-align: center;
		color: $grey;
		text-transform: uppercase;
		font-size: 14px;
		padding-bottom: 10px;
		display: none;

		@include md {
			transition: opacity .2s;
			display: block;
			background-color: white;
			box-shadow: 0px -15px 15px 10px white;
		}

		&--mobile {
			text-transform: none;
			display: block;
			position: absolute;
			bottom: 62px;
			color: white;

			@include md {
				display: none;
			}
		}
	}
}

@keyframes fadeFooter {
	to {
		opacity: 1;
	}
}
